@page "{id}"
@model SoundScape_Tour_Guide_Website.Pages.Guide.EditSoundModel
@{
    ViewData["Title"] = "EditSound";
}

<h1>@ViewData["Title"]</h1>
<form method="post">

    <div class="form-group">
        <label asp-for="@Model.Sound.Id" class="control-label"> Id </label>
        <input asp-for="@Model.Sound.Id" class="form-control" />
        <span asp-validation-for="@Model.Sound.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Sound.Name" class="control-label"> Name </label>
        <input asp-for="@Model.Sound.Name" class="form-control" />
        <span asp-validation-for="@Model.Sound.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Sound.Description" class="control-label"> Description </label>
        <input asp-for="@Model.Sound.Description" class="form-control" />
        <span asp-validation-for="@Model.Sound.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Sound.SoundFileName" class="control-label"> SoundFileName </label>
        <input asp-for="@Model.Sound.SoundFileName" class="form-control" />
        <span asp-validation-for="@Model.Sound.SoundFileName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Sound.SoundType" class="control-label"> SoundType </label>
        <input asp-for="@Model.Sound.SoundType" class="form-control" />
        <span asp-validation-for="@Model.Sound.SoundType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

</form>
